@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

.logo-team-text {
  font-family: "Mr Dafoe", cursive;
  text-transform: lowercase;
  color: #333333;
}

.logo-shadow-text {
  font-family: "Racing Sans One", cursive;
  text-transform: uppercase;
  color: #3b82f6;
  font-size: 1.2em;
}

.logo-racing-text {
  font-family: "Mr Dafoe", cursive;
  color: #db2777;
}

.team-shadow-header {
  font-size: 54px;
  font-family: "Racing Sans One", cursive;
}

.icon svg {
  width: 1em;
  height: 1em;
  display: inline;
  position: relative;
  bottom: 2px;
}

a.textLink {
  color: #3b82f6;
  text-decoration: underline;
}

.imgGrid img {
  float: left;
}
